<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<% @orders.each do |order| %>

  <table>
    <tr>
      <th>Order Item</th>
      <th>Quantity</th>
    </tr>
    <tr>
      <td>Num Satay_Wraps:</td>
      <td><%= order.Satay_Wraps %></td>
    </tr>
    <tr>
      <td>Num TEST:</td>
      <td><%= order.Pad_Thai_Chicken %></td>
    </tr>
    <tr>
      <td>Num Pad_Thai_Beef:</td>
      <td><%= order.Pad_Thai_Beef %></td>
    </tr>
    <tr>
      <td>Num Pad_Thai_Shrimp:</td>
      <td><%= order.Pad_Thai_Shrimp %></td>
    </tr>
    <tr>
      <td>Num Garlic_Noodles_Chicken:</td>
      <td><%= order.Garlic_Noodles_Chicken %></td>
    </tr>
    <tr>
      <td>Num Garlic_Noodles_Beef:</td>
      <td><%= order.Garlic_Noodles_Beef %></td>
    </tr>
    <tr>
      <td>Num Garlic_Noodles_Shrimp:</td>
      <td><%= order.Garlic_Noodles_Shrimp %></td>
    </tr>
    <tr>
      <td>Additional Notes:</td>
      <td><%= order.Notes %></td>
    </tr>
  </table>
<% end %>


<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
