
<%= stylesheet_link_tag "menu.css" %>
 <head>
    <title>Mickey Club</title>
    <link rel="stylesheet" href="menu.css">
    <link rel="icon" type="image/png" href="https://i.etsystatic.com/14238683/r/il/16ece9/1495740419/il_fullxfull.1495740419_by7s.jpg">
  </head>

  
  <body>
    <div class="sticky">
        <p class="big" class="no-marg"> Cosmic Noods</p>
    </div>
    <h1 class="centered">New Order</h1>
    <marquee direction="right" scrollamount="40"> 
        <img src="https://media.giphy.com/media/4TpIX8dDhuHMJXVNYY/giphy.gif" class="no-marg">
        <img src="https://media.giphy.com/media/9Y5fp1qAnCiyyuCT7M/giphy.gif" class="no-marg">
    </marquee>
    <div class="menu">
        <center><h1>Menu</h1></center>
                    <%= form_with(model: @order, local: true) do |form| %>
              <% if @order.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

                  <ul>
                  <% @order.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                  </ul>
                </div>
              <% end %>

              <table>
                <tr>
                  <th class="col">House Specials</th>
                  <th class="col">Price</th>
                  <th class="col">Quantity</th>
                </tr>
                
                <tr>
                  <td>Satay Wraps
                    <img src="https://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/article_thumbnails/recipes/chicken_satay_salad_wraps_recipe/300x300_chicken_satay_salad_wraps_recipe.jpg" class="shrink">
                  </td>
                  <td class="prices">$6.25</td>
                  <td>
                      <div class="field">
                      <%= form.label :Satay_Wraps %>
                      <%= form.number_field :Satay_Wraps %>
                      </div>  
                  </td>
                </tr>

                <tr>
                  <td>Pad Thai (Chicken)</td>
                  <td class="prices">$7.75</td>
                  <td>
                    <div class="field">
                     <%= form.label :Pad_Thai_Chicken %>
                <%= form.number_field :Pad_Thai_Chicken %>

                    </div>
                  </td>
                </tr>
                
                <tr>
                  <td>Pad Thai (Beef)
                    <img src="https://www.chocolateslopes.com/wp-content/uploads/2222/09/steak.pad_.thai_.jpg" class="shrink">
                  </td>
                  <td class="prices">$8.25</td>
                  <td> <div class="field">
                     <%= form.label :Pad_Thai_Beef %>
                    <%= form.number_field :Pad_Thai_Beef %>
                  </div>
                  </td>
                </tr>
                
                <tr>
                  <td>Pad Thai (Shrimp)</td>
                  <td class="prices">$8.25</td>
                  <td><div class="field">
                      <%= form.label :Pad_Thai_Shrimp %>
                      <%= form.number_field :Pad_Thai_Shrimp %>
                    </div>
                  </td>
                </tr>
                
                <tr>
                  <td>Garlic Noodle (Chicken)
                    <img src="https://i2.wp.com/www.savorynothings.com/wp-content/uploads/2017/02/30-minute-honey-garlic-chicken-noodles-recipe-image-4.jpg?fit=600%2C900&ssl=1" class="shrink">
                  </td>
                  <td class="prices">$7.75</td>
                  <td <div class="field">
                  <%= form.label :Garlic_Noodles_Chicken %>
                   <%= form.number_field :Garlic_Noodles_Chicken %>
                 </div>                    
                  </td>
                </tr>
                
                <tr>
                  <td>Garlic Noodle (Beef)</td>
                  <td class="prices">$8.25</td>
                  <td>
                    <div class="field">
                       <%= form.label :Garlic_Noodles_Beef %>
                <%= form.number_field :Garlic_Noodles_Beef %>
              </div>
                  </td>
                </tr>
                
                <tr>
                  <td>Garlic Noodle (Shrimp)
                    <img src="https://rasamalaysia.com/wp-content/uploads/2018/11/shrimp-garlic-noodles4.jpg" class="shrink">
                  </td>
                  <td class="prices">$8.25</td>
                  <td>
                      <div class="field">
                       <%= form.label :Garlic_Noodles_Shrimp %>
                      <%= form.number_field :Garlic_Noodles_Shrimp %>
              </div>
                  </td>
                </tr>

              </table> 
              

  

              

             

              

              

           

             
<div class="center_content">
              <div class="field">
                <%= form.label :Notes %>
                <%= form.text_area :Notes %>
              </div>


              <div class="field">
                <%= form.label :email %>
                <%= form.text_field :email %>
              </div>

              <br>

              <div class="actions">
                <%= form.submit %>
              </div>
            <% end %>
</div>


    <marquee direction="right" scrollamount="40"> 
        <img src="https://media.giphy.com/media/4TpIX8dDhuHMJXVNYY/giphy.gif" class="no-marg">
        <img src="https://media.giphy.com/media/9Y5fp1qAnCiyyuCT7M/giphy.gif" class="no-marg">
    </marquee>



    </div>
    <%= link_to 'Back', orders_path %>
    <footer>
        <div class="flex-container">
                <p class="spread"> 1-800-NOODS  </p>
                <p class="spread">cosmicsupport@noods.com </p>
                <p class="spread">&copy Tyler Weisner and Perry Adamopoulos</p>
        </div>
    </footer>
  </body>





