<p id="notice"><%= notice %></p>

<p>
  <strong>Satay wraps:</strong>
  <%= @order.Satay_Wraps %>
</p>

<p>
  <strong>Pad thai chicken:</strong>
  <%= @order.Pad_Thai_Chicken %>
</p>

<p>
  <strong>Pad thai beef:</strong>
  <%= @order.Pad_Thai_Beef %>
</p>

<p>
  <strong>Pad thai shrimp:</strong>
  <%= @order.Pad_Thai_Shrimp %>
</p>

<p>
  <strong>Garlic noodles chicken:</strong>
  <%= @order.Garlic_Noodles_Chicken %>
</p>

<p>
  <strong>Garlic noodles beef:</strong>
  <%= @order.Garlic_Noodles_Beef %>
</p>

<p>
  <strong>Garlic noodles chicken:</strong>
  <%= @order.Garlic_Noodles_Chicken %>
</p>

<p>
  <strong>Garlic noodles shrimp:</strong>
  <%= @order.Garlic_Noodles_Shrimp %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @order.Notes %>
</p>


<p>
  <strong>Email: </strong>
  <%= @order.email %>
</p>


<p>
  <strong>Total Price: </strong>
  <%= @price %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
